#root {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: initial;
}

.logo { display: none; }

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
